<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async
	src="https://www.googletagmanager.com/gtag/js?id=UA-120198963-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());

	gtag('config', 'UA-120198963-1');
</script>
<!-- Google Tag Manager -->
<script>
	(function(w, d, s, l, i) {
		w[l] = w[l] || [];
		w[l].push({
			'gtm.start' : new Date().getTime(),
			event : 'gtm.js'
		});
		var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l='
				+ l
				: '';
		j.async = true;
		j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
		f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'dataLayer', 'GTM-PS8FDCK');
</script>
<!-- End Google Tag Manager -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9202357336416930",
    enable_page_level_ads: true
  });
</script>
<title>Movies Discovery</title>
<meta name="description" content="Movies Discovery the easy way to find, search and discovery movies and series." />
<meta name="robots" content="nofollow" />
<meta name="google" content="nositelinkssearchbox" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta charset="utf-8">
<link rel="stylesheet"
	href="./assets/css/bootstrap.min.css"
	>
<link rel="stylesheet" type="text/css"
	href="./assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="./assets/css/style.css">

</head>
<body ng-app="MovieManagement" ng-controller="MovieController">
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PS8FDCK"
			height="0" width="0" style="display: none; visibility: hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	<div align="center" class="logo">
		<img alt="Title" src="./assets/images/logo movi2.png" height="125">
	</div>
	<div class="container ">
		<div class="row justify-content-md-center my-5">
			<div class="card border-0 pesquisa">
				<div class="card-header px-0 py-0">
					<ul class="categorias-list">
						<li data-value="Action">Action</li>
						<li data-value="Adventure">Adventure</li>
						<li data-value="Animation">Animation</li>
						<li data-value="Biography">Biography</li>
						<li data-value="Comedy">Comedy</li>
						<li data-value="Crime">Crime</li>
						<li data-value="Drama">Drama</li>
						<li data-value="Family">Family</li>
						<li data-value="Fantasy">Fantasy</li>
						<li data-value="Fiction">Fiction</li>
						<li data-value="Film-Noir">Film-Noir</li>
						<li data-value="History">History</li>
						<li data-value="Horror">Horror</li>
						<li data-value="Music">Music</li>
						<li data-value="Musical">Musical</li>
						<li data-value="Mystery">Mystery</li>
						<li data-value="Romance">Romance</li>
						<li data-value="Sci-Fi">Sci-Fi</li>
						<li data-value="Sport">Sport</li>
						<li data-value="Thriller">Thriller</li>
						<li data-value="War">War</li>
						<li data-value="Sci-Fi">Western</li>
					</ul>
				</div>
				<div class="card-body">
					<form class="form" id="myForm">
						<div class="input-group input-group-sm mySearch">
							<div class="input-group-prepend">
								<i class="fa fa-search"></i><span class="input-group-text"
									id="inputGroup-sizing-default"></span>
							</div>
							<input type="text" class="form-control" aria-label="default"
								aria-describedby="inputGroup-sizing-default" id="user-query">
						</div>

						<div class="input-group ship filters"></div>

						<div class="input-group mb-3 filter-box">
							<div class="input-group-prepend">
								<label class="input-group-text" for="inputGroupSelect01">Discovery</label>
							</div>
							<select class="custom-select" id="inputGroupSelect01">
								<option selected disabled>Choose</option>
								<option ng-model="movieField.rateStart"
									value="Rate IMDB Greater">Rate IMDB Greater</option>
								<option ng-model="movieField.rateEnd" value="Rate IMDB Lower">Rate
									IMDB Lower</option>
								<option ng-model="movieField.yearStart" value="Year Greater">Year
									Greater</option>
								<option ng-model="movieField.yearEnd" value="Year Lower">Year
									Lower</option>
								<option ng-model="movieField.voteStart"
									value="Votes IMDB Greater">Votes IMDB Greater</option>
								<option ng-model="movieField.voteEnd" value="Votes IMDB Lower">Votes
									IMDB Lower</option>
							</select> <input type="text" class="form-control text-right" id="query"
								aria-label="Text input with segmented dropdown button">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="button" id="add">ADD</button>
							</div>
						</div>

					</form>
					<div class="result d-none">
						<hr class="my-4">


					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-md-center mt-5 cards mb-0"></div>
		<div class="row mypaging">
			<div class="container">
				<nav aria-label="Page navigation">
					<ul class="pagination justify-content-center my-3">
						<li class="page-item" id="moreItem"><button class="page-link"
								id="buttonNext">More</button></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="./assets/js/jquery-3.2.1.slim.min.js"></script>
	<script type="text/javascript" src="./assets/js/popper.min.js"></script>
	<script type="text/javascript" src="./assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./assets/js/angular.min.js"></script>
	<script type="text/javascript" src="./assets/js/script.js?ver=1.0"></script>
</body>
</html>